@keyframes fadeIn {
  0% {
    filter: blur(5px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes point {
  5%  {
    left: -10px;
    opacity: 0;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  95% {
    left: 7px;
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-15%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}
