body {
  @include font('Helvetica', 16px, 400);
  background-color: $color-black;
  color: $color-black;
  opacity: 1;
  overflow-x: hidden;
  transition: opacity 250ms;
}

main {
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 50px;
  position: relative;
  transition: transform 400ms;
  z-index: 2;

  @include breakpoint(lg down) {
    &.is-collapsed {
      transform: translateX($menu-width);
    }
  }

}

[tabindex="-1"]:focus {
  outline: 0;
}

::selection {
  background-color: $color-black;
  color: $color-yellow;
}
