// SCSS functions
@import 'core/variables';
@import 'core/mixins';
@import 'core/breakpoints';

// Reset styles
@import 'core/reset';

// Base styles
@import 'core/base';

// Page styles
@import 'pages/resume';

// Components
@import 'components/contact';
@import 'components/navigation';

// Utilities
@import 'core/utilities';
