.contact {
  display: flex;
  flex: 1 0 auto;

  @include breakpoint(lg) {
    justify-content: flex-end;
    margin-right: 25px;
  }

  @include breakpoint(lg down) {
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 200px;
  }

  &__email {
    color: $color-white;
    cursor: copy;
    float: left;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 16px;
    transition: background 200ms ease-out;
    user-select: initial;

    @include breakpoint(lg down) {
      background-color: darken($color-black, 2%);
    }

    &:focus {
      background-color: darken($color-black, 100%);
      outline: 0;
    }

    &::selection {
        color: #f5f51f;
        outline: 0;
    }

  } //.contact__email

  &__icon {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      display: inline-block;
      float: left;
      height: 100%;
      transition: background 200ms ease-out;
      width: 40px;
  } //.contact__icon

} //.contact
