@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateX(-30px);
    visibility: hidden;
  }
}

.hamburger {
  background-color: $color-black;
  left: 15px;
  position: fixed;
  top: 15px;
  transition: background 200ms ease-out;
  z-index: 3;

  @include breakpoint(lg) {
    display: none;
  }

  &:focus {
    background-color: $color-red;
    outline: 0;
  }

  &__bun {
    stroke: $color-white;
    stroke-linecap: round;
    stroke-width: 2px;
    transition: opacity 300ms, transform 300ms;
  }

  &__bun--bottom {
    transform-origin: 3px;

    .is-open & {
      transform: translateX(-1px) rotate(-45deg);
    }
  }

  &__bun--middle {
    .is-open & {
      opacity: 0;
      transform: translateX(90%);
    }
  }

  &__bun--top {
    transform-origin: 3px;

    .is-open & {
      transform: translateX(-1px) rotate(45deg);
    }
  }

  &__icon {
    height: 22px;
    margin: 10px;
    width: 28px;
  }

}

.navigation {
  @include breakpoint(lg down) {
    height: 100%;
    opacity: 1;
    position: fixed;
    transform: translateX(0);
    transition: transform 500ms, opacity 500ms, visibility 500ms;
    visibility: visible;
    width: 100%;

    &:not(.is-open) {
      opacity: 0;
      transform: translateX(-30px);
      transition-duration: 200ms;
      visibility: hidden;
    }
  }

  &__bar {
    background-color: $color-black;
    bottom: 0;
    display: flex;
    float: left;
    left: 0;
    overflow: hidden;
    position: fixed;
    user-select: none;
    width: 100%;
    z-index: 3;

    @include breakpoint(lg down) {
      flex-direction: column;
      height: 100%;
      padding-top: 80px;
      width: $menu-width;
      z-index: 1;
    }
  }

  &__primary {
    @include font('Montserrat', 800);
    color: $color-white;
    float: left;
    letter-spacing: 2px;
    padding: 16px 25px;
    text-transform: uppercase;
    transition: background 200ms ease-out;

    @include breakpoint(lg down) {
      padding-bottom: 16px;
      padding-top: 16px;
      width: 100%;
    }

    &:focus,
    &:hover {
      background-color: darken($color-black, 100%);
      outline: 0;
    }

  } //.navigation__primary

} //.navigation
