<nav>

  <ul class="navigation">
      <li class="navigation__item">
          <a class="navigation__primary" href="/">About</a>
      </li>
    <li class="navigation__item">
      <a class="navigation__primary" href="/resume">Résumé</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__primary" href="/portfolio">Portfolio</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__primary" href="/notepad/">Notepad</a>
    </li>

    <ul class="navigation__item  u-float-right">
      <li class="navigation__item">
        <a class="contact__email" href="mailto:ted@noelker.info">ted@noelker.info</a>
      </li>
      <li class="navigation__item">
        <a class="contact__icon  u-github u-accessible-text" href="https://github.com/tednoelker" rel="nofollow" target="_blank">GitHub</a>
      </li>
      <li class="navigation__item">
        <a class="contact__icon  u-twitter u-accessible-text" href="https://twitter.com/tednoelker" rel="nofollow" target="_blank">Twitter</a>
      </li>
      <li class="navigation__item">
        <a class="contact__icon  u-linkedin u-accessible-text" href="http://www.linkedin.com/in/tednoelker" rel="nofollow" target="_blank">LinkedIn</a>
      </li>
      <li class="navigation__item">
        <a class="contact__icon  u-spotify u-accessible-text" href="https://open.spotify.com/user/121569357/playlist/1kvCRSlI9JnRFiTdRVKm38" rel="nofollow" target="_blank">Spotify</a>
      </li>
    </ul>

  </ul>

</nav>
