.navigation {
  background-color: $color-black;
  bottom: 0;
  float: left;
  left: 0;
  overflow: hidden;
  position: fixed;
  user-select: none;
  width: 100%;

  &__item {
    float: left;
  } //.navigation__item

  &__primary {
    @include font('Hind', 600);
    color: $color-white;
    float: left;
    letter-spacing: 2px;
    padding: 12px 25px;
    text-transform: uppercase;
    transition: background 200ms ease-out;

    &:focus,
    &:hover {
      background-color: darken($color-black, 100%);
      outline: 0;
    }

  } //.navigation__primary

} //.navigation
