.error {
    margin-top: 50vh;
}

h1 {
    color: rgb(110,113,115);
    font-size: 60px;
}

h2 {
    color: rgb(227,61,6);
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    color: rgb(110,113,115);
}
