<section class="about">
  <header>
    <h1 class="about__ted">Ted</h1>
  </header>
  <p class="about__bio"> is a lead web application engineer with six years of professional experience and a resilient self-taught background dating back more than a decade. Today, I mange web applications, development teams and business relationships at scale. I architect and maintain web apps, services and tooling that meets the demands of millions of users per month.</p>
</section>
