<section class="about">
  <header>
    <h1 class="about__ted">Ted</h1>
  </header>
  <p class="about__bio"><%= page.bio %></p>
  <p class="about__nav">
    <%= const link = site.navigation.primary[1]; %>
    <a class="about__link" href="<%= link.url %>">View <%= link.title %></a>
  </p>
</section>
