<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= meta.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:800" />
    <link rel="stylesheet" href="/assets/css/global.css">
  </head>
  <body>
    <%- include('partials/_navigation.ejs'); %>
    <main id="main" class="main" role="main">

    </main>
    <script src="/assets/js/global.js" type="module" async></script>
  </body>
</html>
