<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= site.meta.title %> | <%= meta.title %></title>
    </head>
    <body>
        <h1>It rendered!</h1>
        <p><%= page.key %></p>
    </body>
</html>
